body {
    background-color: rgb(29, 29, 29);
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    overflow-x: hidden;
}

.lightswitch {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Red Hat Display', sans-serif;
    overflow-x: hidden;
}

a {
    color: rgb(176, 210, 211);
    text-decoration: none;
}

a:hover {
    color: rgb(131, 131, 131);
}

h1#title {
    margin-top: 15vh;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    font-size: 12vw;
}

h3#subtitle {
    text-align: right;
    font-size: 4vh;
    margin-right: 20vw;
    padding-top: 0;
    margin-top: 0;
}

div#header {
    width: 100vw;
}

div#modal {
    transition: transform ease-in-out 300ms;
}

div#modal:hover {
    transform: scale(1.1);
}

section {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* LIGHT BULB STUFF*/

#bulb-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    text-align: center;
}

svg#bulb {
    height: 50vh;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    filter: drop-shadow(1px 1px 40px rgb(217, 255, 0));
}

@media only screen and (max-width: 600px) {
    svg#bulb {
        height: 25vh;
    }
}

svg.move {
    animation: bulb ease 4s;
    transform-origin: top;
}

@keyframes bulb {
    0% {
        transform: rotateZ(0deg);
        filter: brightness(.5);
    }

    5% {
        transform: rotateZ(40deg);
        filter: brightness(.9);
    }

    20% {
        transform: rotateZ(-22deg);
        filter: brightness(1.02);
    }

    40% {
        transform: rotateZ(10deg);
        filter: brightness(.6);
    }

    60% {
        transform: rotateZ(-10deg);
        filter: brightness(.4);
    }

    80% {
        transform: rotateZ(4deg);
        filter: brightness(1.02);
    }

    90% {
        transform: rotateZ(-1deg);
        filter: brightness(.6);
    }

    93% {
        transform: rotateZ(0deg);
        filter: brightness(.3);
    }

    95% {
        filter: brightness(1.2);
    }

    98% {
        filter: brightness(.1);
    }

    100% {
        filter: brightness(1);
    }
}