body {
    background: radial-gradient(circle, rgb(16, 12, 20) 0%, rgba(15, 10, 10, 1) 20%, rgba(0, 0, 0, 0.9640231092436975) 62%, rgba(0, 0, 0, 0.9556197478991597) 96%);
    background-size: 120%;
    background-position: right;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.849);
    font-family: 'Red Hat Display', sans-serif;
    padding: 0;
    margin: 0;
}

/*dark mode switch */
.lightswitch {
    background: rgb(255, 245, 211);
    background: radial-gradient(circle, rgba(197, 174, 238, 0.199) 0%, rgba(244, 236, 218, 0.288) 46%);
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.808);
}

a {
    color: rgb(176, 210, 211);
    text-decoration: none;
}

a:hover {
    color: rgb(52, 90, 107);
}

hr {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.199);
}

h1#title {
    margin-top: 25vh;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    font-size: 150px;
}

h2#gillespie {
    margin-top: -70px;
    text-align: center;
    font-size: 150px;
}

h3#subtitle {
    margin-top: -45px;
    text-align: right;
    font-size: 38px;
    font-weight: 100;
}

div#name {
    margin: auto;
    width: fit-content;
}

p {
    text-align: justify;
}

div#header {
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 20vmin;
}

div#modal {
    text-align: center;
    filter: grayscale(.5);
    transition: filter ease-in-out 300ms;
}

div#modal:hover {
    filter: grayscale(0);
}

/* LIGHT BULB STUFF*/

div.hide {
    display: none;
}

div.fade#bulbcounter {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    animation: bulbcounter ease-in-out 3s;
    border-radius: 15px;
}

@keyframes bulbcounter {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#bulb-container {
    position: absolute;
    top: 0;
    width: 80vw;
    text-align: right;
}

svg#bulb {
    height: 45vh;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    filter: drop-shadow(1px 1px 80px rgb(255, 254, 219));
}

svg.move {
    animation: bulb 3s;
    transform-origin: top;
}

@keyframes bulb {
    0% {
        transform: rotateZ(0deg);
        filter: brightness(.5);
    }

    5% {
        transform: rotateZ(40deg);
        filter: brightness(.9);
    }

    20% {
        transform: rotateZ(-22deg);
        filter: brightness(1.02);
    }

    40% {
        transform: rotateZ(10deg);
        filter: brightness(.6);
    }

    60% {
        transform: rotateZ(-10deg);
        filter: brightness(.4);
    }

    80% {
        transform: rotateZ(4deg);
        filter: brightness(1.02);
    }

    90% {
        transform: rotateZ(-1deg);
        filter: brightness(.6);
    }

    93% {
        transform: rotateZ(0deg);
        filter: brightness(.3);
    }

    95% {
        filter: brightness(1.2);
    }

    98% {
        filter: brightness(.1);
    }

    100% {
        filter: brightness(1);
    }
}


/*skills svg images*/
img.svg {
    width: 80px;
    opacity: .6;
    transition: opacity 600ms;
    padding: 5px;

    &:hover {
        opacity: 1;
        animation: icon ease-in-out 300ms;
    }
}

#icon:hover {
    opacity: 1;
    animation: icon ease-in-out 300ms;
}


@keyframes icon {
    0% {
        filter: blur(0px);
    }

    10% {
        filter: blur(1.5px);
    }

    100% {
        filter: blur(0px);
    }
}

/*portfolio images*/

div#description {
    height: fit-content;
    align-self: center;
}

img#portimg {
    width: 100%;
    padding: 5px;
}

#portimg:hover {
    animation: portimg ease-in-out 500ms;
}

@keyframes portimg {
    0% {
        filter: blur(0px);
    }

    10% {
        filter: blur(2px);
    }

    100% {
        filter: blur(0px);
    }

}

#about:hover {
    animation: about ease-in-out 500ms;
}

@keyframes about {
    0% {
        opacity: 1;
    }

    10% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }

}

footer {
    z-index: 99 !important;
    position: sticky;
    background: rgba(166, 211, 248, 0);
    backdrop-filter: blur(15px);
    padding: 5px;
    top: 0;
}

@media only screen and (max-width: 900px) {
    svg#bulb {
        height: 270px;
        margin-top: 8vh;
    }

    div#bulb-container {
        width: 100vw;
        text-align: center;
    }

    section {
        margin-left: 0;
        margin-right: 0;
    }

    h1#title {
        margin-top: 40vh;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
        font-size: 50px;
    }

    h2#gillespie {
        margin-top: -20px;
        text-align: center;
        font-size: 50px;
    }

    h3#subtitle {
        margin-top: -20px;
        text-align: center;
        font-size: 14px;
        font-weight: 100;
    }

    div#name {
        margin: 0px;
        width: 100%;
    }

    html,
    body {
        overflow-x: hidden;
    }

    footer {
        margin-top: 100px;
        padding-top: 20px;
        position: fixed;
        top: -16px;
        width: 100vw;
    }

    img.svg {
        width: 20vw;
        margin-top: 24px;
    }

    #portimg {
        align-self: center;
        margin-right: 100vw;
    }
}

.pop-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 0px;
}

.pop-content {
    opacity: 0;
    visibility: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

.pop-content:before {
    transition-duration: 0.3s;
    transition-property: transform;
}

.pop-wrapper:hover .pop-content {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.pop-message {
    text-align: center;
}

div#emailsent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#top {
    min-height: 65vh;
    max-height: 100vh;
}

div#gradient-overlay {
    background: linear-gradient(0deg, rgba(185, 152, 111, 0) 0%, rgba(111, 182, 185, 0.829) 60%, rgba(165, 71, 255, 0) 85%);
    background-attachment: fixed;
}

section#portfolio {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 5vh;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(185, 152, 111, 0) 0%, rgba(85, 69, 104, 0.041) 20%, rgba(165, 71, 255, 0) 55%);
}

div.portfolio {
    border-radius: 5px;
    background: rgba(166, 211, 248, 0.005);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(4px);
    padding: 5%;

}

section#aboutme {
    margin-left: 4vw;
    margin-right: 4vw;
    min-height: fit-content;
    font-size: large;
    display: flex;
}
div#about-div {
    border-radius: 5px;
    padding: 5%;
}

section#skills {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

div#skills-container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}